@page
@model MyApp.Namespace.QuestionsModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items.Items)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Question
            </td>
            <td>
                @item.Answer
            </td>
        </tr>
    }
    </tbody>
</table>
